<!DOCTYPE html>
<html>
    <head>
        <title>학생 점수표</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>상태</th>
                    <th>등록날짜</th>
                    <th>종료날짜</th>
                    <th>그룹</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td>{{ todo.seq }}</td>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.status }}</td>
                    <td>{{ todo.reg_date }}</td>
                    <td>{{ todo.end_date }}</td>
                    <td>{{ todo.group }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>
</html>